/* 
    This style sheet stylizes the controls inside our
    TA Manager JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Note that it may seem overwhelming to see so many different
    style classes, even though our application doesn't have that
    many controls, but what this allows us to do is easily
    control and update the style of the entire user interface
    via a stylesheet without having the change Java code.

    Author:	Richard McKenna
    Version:	1.0
*/


.root{
    
}

.dialog_pane {
    -fx-padding:15;
}

.dialog_heading {
    -fx-font-size: 24pt;

}
.dialog_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.plain_pane{
   
}

.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

/*background for the header*/
.header_pane{
   -fx-background-color: #79b3f2;
   
}

/*The header label "Teachers Assistain" and "Office hours gride"*/
.header_label {
    -fx-font: 18pt serif;
    -fx-padding: 2;
    
}
/*for the ta table*/
.ta_table{

}

/*This styles the ta name and email header*/
.table-view .column-header.ta_table_column_header .label {
    -fx-font: 12pt serif;
    -fx-text-fill:#ffffff;
    -fx-background-color:#00004d ;
    -fx-padding:5;
}

.add_ta_pane{
    
}

/*Design the textfield*/
.add_ta_text_field{
    -fx-font: 14pt serif;
    -fx-background-radius: 10 10 10 10;

}

.add_ta_button{
    -fx-font: 14pt serif;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    
}

.office_hours_grid{
    
}

/*This is the pane of start time and end time*/
.office_hours_grid_time_column_header_pane{
    -fx-background-color: #00004d;
    -fx-padding : 15;
}
/*To edit labels onle "start time" and "end time"*/
.office_hours_grid_time_column_header_label{
    -fx-text-fill:#ffffff;
/*    -fx-padding: 15;*/
}
/*all the headers m,t,w,t,f,*/
.office_hours_grid_day_column_header_pane{
    -fx-background-color: #00004d;
    
}

.office_hours_grid_day_column_header_label{
    /*Add white letters to days title*/
    -fx-text-fill:#ffffff;
}
/*all the time in each col.*/ 
.office_hours_grid_time_cell_pane{
    /*-fx-border-dottom: 10px;*/
    -fx-border-color: white;
    -fx-border-style: dotted;
    -fx-background-color: #0000ff;

}

/* time hours label*/
.office_hours_grid_time_cell_label{
    //Add white color to all military time
    -fx-text-fill:#ffffff;
}

/*this is the grid of cell where the name r added with date 
and time the name is there*/
.office_hours_grid_ta_cell_pane{
    /*brown background color*/
    -fx-background-color: #A9AB7A;
    /*solid black border*/
    /*-fx-border-style:solid;*/
    /*-fx-border-solid:10;*/
    
    /*Black border color*/
    -fx-border-color:#000000;
}

/* all the name in the individual cells */
.office_hours_grid_ta_cell_label{
    /*the toggle of the cells will go here*/

    
}
/*.office_hours_grid_ta_cell_pane:hover{
    the toggle of the cells will go here
    -fx-background-color: #ffff00;

}*/